/implementation-indexing/inverted-index.db.bkp
/implementation-indexing/inverted-index.db.bkp1
/implementation-indexing/inverted-index_best.db.bkp
/implementation-indexing/results.txt
/implementation-indexing/ministry_results.txt
/implementation-indexing/slovene_community_results.txt
/implementation-indexing/social_services_results.txt
/implementation-indexing/trgovina_results.txt
/implementation-indexing/ustrezne_šifre_results.txt
/implementation-indexing/ustrezne_šifre_skladišč_results.txt
/implementation-indexing/agricultural_machinery_results.txt